<div class="header">
	<div class="header_container">
		<div class="header_left">
			<div class="header_logo">
				<%= link_to root_path do %>
					<%= image_tag "logos/logo_small_green" %>
				<% end %>
			</div>
		</div>
		<div class="header_main">
			<div class="ta_c">
				<div class="header_nav">
					<%= link_to "calmer", root_path, :class => "active" %>
					<span class="inactive">blog</span>
				</div>
				<div class="header_nav_second">
					<%= link_to "new", root_path, :class => current_class?(root_path) %>
					<%= link_to "popular", popular_path, :class => current_class?(popular_path) %>
					<%= link_to "handpicked", handpicked_path, :class => current_class?(handpicked_path) %>
				</div>
			</div>
			<div></div>
		</div>
		<div class="header_right">
			<a href="" class="header_icon">
				<%= image_tag "vosmik", :class =>"avatar"%>
			</a>
			<a target="_blank" href="https://github.com/vosmik" class="header_icon">
				<%= image_tag "icons/github", :class => "github" %>
			</a>
			<a target="_blank" href="https://www.instagram.com/v8ickaa/" class="header_icon">
				<%= image_tag "icons/instagram", :class => "linkedin" %>
			</a>
		</div>
	</div>
</div>
<div class="header_clearfix"></div>